html,body{
    height: 100%;
    width: 100%;
    font-family: SansSerif, serif;
    color: #222;
}

.navbar {
    padding: .8rem;
}
.navbar-nav{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}

.carousel-inner img{
    width: 100%;
    height: 100%
}

.jumbotron{
    padding: 1rem;
}

.card{
    width: 100%;
    height: 100%
}

.card img{
    width: 100%;
    height: 100%;
    flex: 0;
}
.card a:hover{
    color: #000000;
}
.hr-4{
    width:50%;
}
.gallery {
    font-family: "DejaVu Math TeX Gyre";
    text-align: center;
}
.connect{
    margin-top: 4rem;
}
.social a{
    padding: 2rem;
    font-size: 4rem;
    flex: 2;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #DD2A7B;
}
.fa-github{
    color: #222;
}
.fa-linkedin{
    color: #0077B5;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-github:hover,
.fa-linkedin:hover{
    color: #d5d5d5;
}

.footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding: 2rem;
}



@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}