html,
body {
	height: 100%;
	font-family: SansSerif, serif;
	color: #222;
}

.navbar {
	padding: 1rem;
}

.navbar-nav {
	padding-right: 1rem;
}

.nav-link {
	font-size: 1.1em !important;
}

.hero-image {
	background-image: url("/img/hero.jpg");
	height: 80%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 2rem;
}

.hero-text {
	position: relative;
	text-align: center;
	top: 40%;
	color: #d5d5d5;
}

.hero-text button {
	border: none;
	outline: none;
	background-color: grey;
	color: white;
	padding: 10px 25px;
}

.hero-text button:hover {
	font-size: 1.3em;
}

.wrapper {
	padding: 1rem;
	background: rgba(0, 0.5, 0.6, 0.25);
}

.tabs {
	display: grid;
}

[role="tablist"] {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 0.8rem;
	border-radius: 3px;
}

[role="tabpanel"] {
	background: white;
	padding: 2rem;
}

a.button,
button,
input[type="button"] {
	color: #222233;
	background: whitesmoke;
	padding: 0.2rem;
	border: 0;
	border: 2px solid transparent;
	text-decoration: none;
	font-weight: 400;
	font-size: 1rem;
	border-radius: 2px;
}

button[aria-selected="true"] {
	background: white;
	box-shadow: none;
	color: rgba(0, 0, 0, 0.7);
}

button:focus {
	outline: 0;
	--bs-color: rgba(0, 0, 0, 0.6);
}

.cards {
	display: grid;
	background: rgba(0, 0, 0, 0.1);
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 20px;
	padding: 2rem;
}

.card {
	padding: 1rem;
	border-radius: 2px;
}

.card img {
	width: 100%;
	margin-bottom: 1rem;
}

.cards button {
	background: hsla(50, 20%, 50%, 0.3);
	font-size: 0.8rem;
}
.modal-outer {
	display: grid;
	background: hsla(0, 0%, 51%, 1);
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	/* Hide this modal until we need it */
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s;
}

.modal-outer img {
	width: 100%;
}

.modal-outer.open {
	opacity: 1;
	pointer-events: all;
}

.modal-inner {
	max-width: 600px;
	min-width: 400px;
	padding: 2rem;
	border-radius: 5px;
	min-height: 200px;
	background: white;
	transform: translateY(-200%);
	transition: transform 2s;
}

.modal-outer.open .modal-inner {
	transform: translateY(0);
}

.shopping-list {
	text-align: center;
}
.submit {
	border: none;
	color: #dd2a7b;
	font-weight: bold;
}

.section-1 {
	background-color: darkslateblue;
}

.socialMedia {
	position: relative;
	text-align: center;
	margin-bottom: 2em;
	z-index: -1;
}

.connect {
	position: relative;
	margin: 0 auto;
	padding: 2em;
}

.connect::after {
	content: "";
	display: block;
	width: 8rem;
	height: 2px;
	background: gold;
	margin: 0 auto;
}

.social a {
	padding: 2rem;
	font-size: 3rem;
	flex: 2;
}

.fa-facebook {
	color: #3b5998;
}

.fa-instagram {
	color: #dd2a7b;
}

.fa-github {
	color: #222;
}

.fa-linkedin {
	color: #0077b5;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-github:hover,
.fa-linkedin:hover {
	color: #d5d5d5;
}

.footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding: 2em;
	text-align: center;
}
